body {
    background-color: #CB8534;
    font-family: sans-serif;
    padding: 2vh;
}
#playerZone{
    display: flex;
    justify-content: space-between;
    font: 8vw bold;
    font-family: sans-serif;
    padding: 0 50px 0 50px;
    margin-bottom: .2em;
}

#announcementZone{
    font: 8vw bold;
    font-family: sans-serif;
    padding: 0 10vw 0 10vw;
    margin: auto;
    margin-top:5vw;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

#p0 {
    color: #792B8D;
    cursor: pointer;

}

#p1 {
    color: #379A28;
    cursor: pointer;
}

#displayGrid{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 10vw 10vw 10vw;
    justify-content: center;
    margin: 0vw;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5vw solid black;
    font: 8vw bold;
    font-family: sans-serif;
    color:#eee6e6;
    cursor: pointer;
}

.cell:hover{
    background-color: grey;
}
.Xhover:hover{
    background-color: #792B8D;
}
.Ohover:hover{
    background-color: #379A28;
}

#c0,#c1,#c2 {border-top: none;}
#c0,#c3,#c6 {border-left: none;}
#c2,#c5,#c8 {border-right: none;}
#c6,#c7,#c8 {border-bottom: none;}

